<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Basic</title>
</head>
<body>
    <div id="app" v-if="status">{{ message }}<br><br>
    <label v-for="user in users">Nama Panggilan : {{ user.nick_name }}, Nama Lengkap : {{ user.full_name }}<br></label>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data:{
            message : 'Hello Vue!',
            status : true,
            users:[
                {
                    nick_name : 'Faiz',
                    full_name : 'Faizal'
                    
                },
                {
                    nick_name : 'Syafi',
                    full_name : 'Syafi Praba'
                },
                {
                    nick_name : 'Jono',
                    full_name : 'Sujono'
                }
            ]

        }
    })
</script>